@use "mixins";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-image: url(https://images.unsplash.com/photo-1443926818681-717d074a57af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .displayWeather {
    display: flex;
    align-items: center;
    flex-direction: column;


    .weatherTitle {
      color: white;
    }
  }
}

.searchWrapper {
  display: flex;
  gap: 5px;

  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  button {
    width: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: rgb(182, 235, 190);
      cursor: pointer;
    }
  }
}

.weather-div {
  margin-top: 5%;
  background-color: rgba(241, 209, 221, 0.3);
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 15px;

  .temp {
    text-align: center;
    font-size: 1.3em;
  }

  .tempFeelsLike {
    font-size: 1.1em;
  }


  @include mixins.tablet {
    width: 40vw;
  }

  img {
    width: 15%;

    @include mixins.tablet {
      width: 15%;
    }
    
  }
}

